# Data Types and Structures

Q1. What are data structures, and why are they important ?
- Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They are important because they provide a means to manage large amounts of data and are essential for designing efficient algorithms.

Q2. Explain the difference between mutable and immutable data types with examples ?
- Mutable data types can be changed after creation (e.g., lists, dictionaries), whereas immutable data types cannot be changed (e.g., strings, tuples).

Q3. What are the main differences between lists and tuples in Python?
- Lists are mutable, can be modified, and typically consume more memory. Tuples are immutable and generally faster and more memory efficient.

Q4. Describe how dictionaries store data?
- Dictionaries store data in key-value pairs using a hash table, allowing fast access to values via their keys.

Q5. Why might you use a set instead of a list in Python?
- Sets are used when you want to store unique elements and perform operations like union, intersection, and difference efficiently.

Q6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters, while a list is a mutable sequence that can hold different data types.

Q7. How do tuples ensure data integrity in Python?

- Since tuples are immutable, their contents cannot be changed, ensuring that the data remains constant and unaltered.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally for efficient key-value storage.

Q9. Can lists contain different data types in Python?
- Yes, lists can contain elements of different data types, such as integers, strings, and even other lists.

Q10. Explain why strings are immutable in Python?

- Strings are immutable to ensure security, consistency, and performance benefits like caching and optimization.

Q11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries offer faster lookups for key-based access and are better suited for associative data mapping.

Q12. Describe a scenario where using a tuple would be preferable over a list?

- When you want to ensure data remains constant and unchangeable, like geographic coordinates (latitude, longitude).


Q13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates; each element in a set is unique.


Q14. How does the “in” keyword work differently for lists and dictionaries?
- In lists, in checks for the presence of a value; in dictionaries, it checks for the presence of a key.


Q15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable, so their elements cannot be changed once created.


Q16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary within another dictionary. Example use case: storing student records with nested fields like grades.


Q17. Describe the time complexity of accessing elements in a dictionary?
- On average, accessing an element in a dictionary is O(1) due to hash table implementation.


Q18. In what situations are lists preferred over dictionaries?
- When order matters or when you need to access elements by position rather than a key.


Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries didn’t preserve insertion order. While now ordered, conceptually they are for key-based access, not positional.


Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists retrieve data by index (position), whereas dictionaries retrieve data by keys.

In [35]:
# Write a code to create a string with your name and print it
name = "Muzzafar Ahmad";
print(name)

Muzzafar Ahmad

In [36]:
# Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [37]:
# Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [38]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [39]:
# Write a code to create a list with numbers 1 to 5 and print it
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [40]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]; list.append(10); print(list)

[1, 2, 3, 4, 10]

In [41]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]; list.remove(3); print(list)

[1, 2, 4, 5]

In [42]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']; print(list[1])

b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]; print(list[::-1])

[50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300); print(tup)

(100, 200, 300)

In [43]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green', 'blue', 'yellow'); print(tup[-2])

blue

In [44]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15); print(min(tup))

5

In [46]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup = ('dog', 'cat', 'rabbit'); print(tup.index('cat'))

1

In [47]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi');print("kiwi" in fruits)

True

In [48]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'};print(s)

{'b', 'c', 'a'}

In [49]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5};s.clear();print(s)

set()

In [50]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4};s.remove(4);print(s)

{1, 2, 3}

In [51]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3};b = {3, 4, 5};print(a.union(b))

{1, 2, 3, 4, 5}

In [52]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3};b = {2, 3, 4};print(a.intersection(b))

{2, 3}

In [53]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict = {"name": "Muzzafar", "age": 34, "city": "New Delhi"};print(dict)

{'name': 'Muzzafar', 'age': 34, 'city': 'New Delhi'}

In [54]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25};dict ['country'] = 'USA';print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [55]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict = {'name': 'Alice', 'age': 30};print(dict['name'])

Alice

In [56]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {'name': 'Bob', 'age': 22,'city': 'New York'};del dict['age'];print(dict)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'};print('city' in dict)

True

In [57]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3];tup = (4, 5, 6);dict = {'a': 1, 'b': 2};print(list, tup, dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [58]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random;list = random.sample(range(1, 101), 5);list.sort();print(list)

[14, 44, 47, 48, 95]

In [59]:
# Write a code to create a list with strings and print the element at the third index
list = ["apple", "banana", "cherry", "Orange"];print(list[3])

Orange

In [60]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2};dict2 = {'c': 3, 'd': 4};dict1.update(dict2);print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [61]:
# Write a code to convert a list of strings into a set.
list = ["apple", "banana", "cherry"];print(set(list))

{'cherry', 'apple', 'banana'}